<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for el in news %}
<div  style="border-radius:21px;width:95%"  class="p-3= mb-2 bg-primary text-white text-center">
         <br> <h3>{{ el.title }}</h3> <br>
                <p>{{ el.name}}</p>
                <p>{{ el.surname }}</p>
                <p>{{ el.news }}</p>
                <p>{{ el.is_published }}</p>
                <p>{{ el.time_create}}</p>
                <p>{{ el.id}}</p>
    {%endfor%}
</div>
</body>
</html>