
.content {

top: 0;
right: 0;
}

.col-sm{
    width: 25%;
}
h1{


}
.flex-box{
    display: flex;
}
#search{
    margin: 10px;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    border-style: dotted;
}
#button{
    margin:10px;
    height: 40px;
    color:aliceblue;
    border-color: white;
}
header{
    height: 100px;
    background: linear-gradient(200deg, red, blue);

}