@{
    ViewData["Title"] = "Library";
}

<div class="text-center">
    <img id="imgCenter" src="https://img.freepik.com/free-vector/woman-relaxing-at-home-girl-drinking-hot-tea-reading-book-in-armchair-flat-vector-illustration-leisure-evening-literature_74855-8684.jpg?size=626&ext=jpg&ga=GA1.2.987993181.1669098556&semt=sph"class="display-4"></div>
   <br> <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Library</h2>
            <p>Сегодня библиотека Satbayev University является информационным и культурно-просветительским центром университета, источником учебной и научной информации для преподавателей и студентов. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Library</h2>
            <p>Сегодня библиотека Satbayev University является информационным и культурно-просветительским центром университета, источником учебной и научной информации для преподавателей и студентов. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Library</h2>
            <p>Сегодня библиотека Satbayev University является информационным и культурно-просветительским центром университета, источником учебной и научной информации для преподавателей и студентов. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
        </div>

        <hr>

      </div>
</div>
